In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
pd.options.display.max_columns=1000

In [2]:
#Picking 1 of the Lego tables that has a list of all sets by set_num and theme_id. Just to try the regression.
sets = pd.read_csv('C:/Users/marki/Desktop/SB Data Science BC/Springboard/Capstone2/csvs/sets.csv')
sets.head(1)

  set_num   name  year  theme_id  num_parts
0   001-1  Gears  1965         1         43

In [3]:
sets[sets['theme_id']==435].count()

set_num      417
name         417
year         417
theme_id     417
num_parts    417
dtype: int64

In [4]:
sets[sets['theme_id']!=435].count()

set_num      18090
name         18090
year         18090
theme_id     18090
num_parts    18090
dtype: int64

In [5]:
sets['set_num_len'] = sets['set_num'].str.len()
sets.head(1)

  set_num   name  year  theme_id  num_parts  set_num_len
0   001-1  Gears  1965         1         43            5

In [6]:
sets['name_len'] = sets['name'].str.len()
sets.head(1)

  set_num   name  year  theme_id  num_parts  set_num_len  name_len
0   001-1  Gears  1965         1         43            5         5

In [7]:
#Bring in the themes table so I can put a theme name to the set numbers 
themes = pd.read_csv('C:/Users/marki/Desktop/SB Data Science BC/Springboard/Capstone2/csvs/themes.csv')
themes.head(1)

   id     name  parent_id
0   1  Technic        NaN

In [8]:
themes.shape

(444, 3)

In [9]:
themes = themes.rename(columns={'id':'theme_id', 'name':'theme_name'})
themes.head(1)

   theme_id theme_name  parent_id
0         1    Technic        NaN

In [10]:
#parent_id column is not needed
themes = themes.drop('parent_id', axis=1)
themes.head(1)

   theme_id theme_name
0         1    Technic

In [11]:
df = sets.merge(themes, on='theme_id', how='left')
df.head(1)

  set_num   name  year  theme_id  num_parts  set_num_len  name_len theme_name
0   001-1  Gears  1965         1         43            5         5    Technic

In [12]:
df.shape

(18507, 8)

In [13]:
# List of the most used themes
df['theme_id'].value_counts()

501    1898
158     800
503     579
494     462
324     420
       ...
34        1
156       1
241       1
307       1
512       1
Name: theme_id, Length: 435, dtype: int64

In [14]:
# Gear as a theme doesn't really help identify the set - gears can be used in many sets
themes[themes['theme_id'] == 501]

     theme_id theme_name
255       501       Gear

In [15]:
# Star Wars as a theme
themes[themes['theme_id'] == 158]

    theme_id theme_name
78       158  Star Wars

In [16]:
# Key Chain is quite different from regular Lego bricks and a duplo brick is easily identifiable to a duplo set.
themes[themes['theme_id'] == 503]

     theme_id theme_name
257       503  Key Chain

In [17]:
# Friends as a theme
themes[themes['theme_id'] == 494]

     theme_id theme_name
251       494    Friends

In [18]:
inventories = pd.read_csv('C:/Users/marki/Desktop/SB Data Science BC/Springboard/Capstone2/csvs/inventories.csv')
inventories.head(1)

   id  version set_num
0   1        1  7922-1

In [19]:
inventories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31277 entries, 0 to 31276
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       31277 non-null  int64
 1   version  31277 non-null  int64
 2   set_num  31277 non-null  object
dtypes: int64(2), object(1)
memory usage: 733.2+ KB

In [20]:
inventories.shape

(31277, 3)

In [21]:
df.shape

(18507, 8)

In [22]:
df = df.merge(inventories, on='set_num', how='left')
df.head(1)

,set_num,name,year,theme_id,num_parts,set_num_len,name_len,theme_name,id,version
0,001-1,Gears,1965,1,43,5,5,Technic,24696,1

In [23]:
df.shape

(19675, 10)

In [24]:
df = df.drop('version', axis=1)
df.head(1)

,set_num,name,year,theme_id,num_parts,set_num_len,name_len,theme_name,id
0,001-1,Gears,1965,1,43,5,5,Technic,24696

In [25]:
inventory_parts = pd.read_csv('C:/Users/marki/Desktop/SB Data Science BC/Springboard/Capstone2/csvs/inventory_parts.csv')
inventory_parts.head(1)

   inventory_id  part_num  color_id  quantity is_spare
0             1  48379c01        72         1        f

In [26]:
inventory_parts = inventory_parts.rename(columns={'inventory_id':'id'})
inventory_parts.head(1)

   id  part_num  color_id  quantity is_spare
0   1  48379c01        72         1        f

In [27]:
inventory_parts.shape

(972396, 5)

In [28]:
colors = pd.read_csv('C:/Users/marki/Desktop/SB Data Science BC/Springboard/Capstone2/csvs/colors.csv')
colors.head(1)

   id       name     rgb is_trans
0  -1  [Unknown]  0033B2        f

In [29]:
colors.shape

(190, 4)

In [30]:
colors.shape

(190, 4)

In [31]:
colors = colors.rename(columns={'id':'color_id', 'name':'color_name'})
colors.head(1)

   color_id color_name     rgb is_trans
0        -1  [Unknown]  0033B2        f

In [32]:
dfB = inventory_parts.merge(colors, on='color_id', how='left')
dfB.head(1)

,id,part_num,color_id,quantity,is_spare,color_name,rgb,is_trans
0,1,48379c01,72,1,f,Dark Bluish Gray,6C6E68,f

In [33]:
dfB.shape

(972396, 8)

In [34]:
dfB.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972396 entries, 0 to 972395
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          972396 non-null  int64
 1   part_num    972396 non-null  object
 2   color_id    972396 non-null  int64
 3   quantity    972396 non-null  int64
 4   is_spare    972396 non-null  object
 5   color_name  972396 non-null  object
 6   rgb         972396 non-null  object
 7   is_trans    972396 non-null  object
dtypes: int64(3), object(5)
memory usage: 66.8+ MB

In [35]:
parts = pd.read_csv('C:/Users/marki/Desktop/SB Data Science BC/Springboard/Capstone2/csvs/parts.csv')
parts.head(1)

  part_num                         name  part_cat_id part_material
0   003381  Sticker Sheet for Set 663-1           58       Plastic

In [36]:
parts = parts.rename(columns={'name':'part_name'})
parts.head(1)

  part_num                    part_name  part_cat_id part_material
0   003381  Sticker Sheet for Set 663-1           58       Plastic

In [37]:
parts.shape

(44074, 4)

In [38]:
dfB = dfB.merge(parts, on='part_num', how='left')
dfB.head(1)

,id,part_num,color_id,quantity,is_spare,color_name,rgb,is_trans,part_name,part_cat_id,part_material
0,1,48379c01,72,1,f,Dark Bluish Gray,6C6E68,f,"Large Figure Torso and Legs, Promo Figure Base...",41,Plastic

In [39]:
dfB.shape

(972396, 11)

In [40]:
dfB.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972396 entries, 0 to 972395
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             972396 non-null  int64
 1   part_num       972396 non-null  object
 2   color_id       972396 non-null  int64
 3   quantity       972396 non-null  int64
 4   is_spare       972396 non-null  object
 5   color_name     972396 non-null  object
 6   rgb            972396 non-null  object
 7   is_trans       972396 non-null  object
 8   part_name      972396 non-null  object
 9   part_cat_id    972396 non-null  int64
 10  part_material  972396 non-null  object
dtypes: int64(4), object(7)
memory usage: 89.0+ MB

In [41]:
dfB = dfB.drop('is_spare', axis=1)

In [42]:
dfB = dfB.drop('rgb', axis=1)

In [43]:
dfB = dfB.drop('part_cat_id', axis=1)
dfB.head(1)

,id,part_num,color_id,quantity,color_name,is_trans,part_name,part_material
0,1,48379c01,72,1,Dark Bluish Gray,f,"Large Figure Torso and Legs, Promo Figure Base...",Plastic

In [44]:
dfB = pd.get_dummies(dfB, columns=['is_trans'])
dfB.head(1)

,id,part_num,color_id,quantity,color_name,part_name,part_material,is_trans_f,is_trans_t
0,1,48379c01,72,1,Dark Bluish Gray,"Large Figure Torso and Legs, Promo Figure Base...",Plastic,1,0

In [45]:
dfB.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972396 entries, 0 to 972395
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             972396 non-null  int64
 1   part_num       972396 non-null  object
 2   color_id       972396 non-null  int64
 3   quantity       972396 non-null  int64
 4   color_name     972396 non-null  object
 5   part_name      972396 non-null  object
 6   part_material  972396 non-null  object
 7   is_trans_f     972396 non-null  uint8
 8   is_trans_t     972396 non-null  uint8
dtypes: int64(3), object(4), uint8(2)
memory usage: 61.2+ MB

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19675 entries, 0 to 19674
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   set_num      19675 non-null  object
 1   name         19675 non-null  object
 2   year         19675 non-null  int64
 3   theme_id     19675 non-null  int64
 4   num_parts    19675 non-null  int64
 5   set_num_len  19675 non-null  int64
 6   name_len     19675 non-null  int64
 7   theme_name   19675 non-null  object
 8   id           19675 non-null  int64
dtypes: int64(6), object(3)
memory usage: 1.5+ MB

In [47]:
dfB['part_name'].isnull().sum()

0

In [48]:
dfB[dfB.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [id, part_num, color_id, quantity, color_name, part_name, part_material, is_trans_f, is_trans_t]
Index: []

In [49]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19675 entries, 0 to 19674
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   set_num      19675 non-null  object
 1   name         19675 non-null  object
 2   year         19675 non-null  int64
 3   theme_id     19675 non-null  int64
 4   num_parts    19675 non-null  int64
 5   set_num_len  19675 non-null  int64
 6   name_len     19675 non-null  int64
 7   theme_name   19675 non-null  object
 8   id           19675 non-null  int64
dtypes: int64(6), object(3)
memory usage: 1.5+ MB

In [50]:
dfB = dfB.fillna('None')
dfB.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972396 entries, 0 to 972395
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             972396 non-null  int64
 1   part_num       972396 non-null  object
 2   color_id       972396 non-null  int64
 3   quantity       972396 non-null  int64
 4   color_name     972396 non-null  object
 5   part_name      972396 non-null  object
 6   part_material  972396 non-null  object
 7   is_trans_f     972396 non-null  uint8
 8   is_trans_t     972396 non-null  uint8
dtypes: int64(3), object(4), uint8(2)
memory usage: 61.2+ MB

In [51]:
dfB[dfB['part_name'] == 'None']

Empty DataFrame
Columns: [id, part_num, color_id, quantity, color_name, part_name, part_material, is_trans_f, is_trans_t]
Index: []

In [52]:
df = df.merge(dfB, on='id', how='inner')
df.head(1)

,set_num,name,year,theme_id,num_parts,set_num_len,name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,part_material,is_trans_f,is_trans_t
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,Rubber,1,0

In [53]:
df.shape

(919288, 17)

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 919288 entries, 0 to 919287
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   set_num        919288 non-null  object
 1   name           919288 non-null  object
 2   year           919288 non-null  int64
 3   theme_id       919288 non-null  int64
 4   num_parts      919288 non-null  int64
 5   set_num_len    919288 non-null  int64
 6   name_len       919288 non-null  int64
 7   theme_name     919288 non-null  object
 8   id             919288 non-null  int64
 9   part_num       919288 non-null  object
 10  color_id       919288 non-null  int64
 11  quantity       919288 non-null  int64
 12  color_name     919288 non-null  object
 13  part_name      919288 non-null  object
 14  part_material  919288 non-null  object
 15  is_trans_f     919288 non-null  uint8
 16  is_trans_t     919288 non-null  uint8
dtypes: int64(8), object(7), uint8(2)
memory usage: 114.0+ MB

In [55]:
df = df.drop('is_trans_f', axis=1)
df.head(1)

,set_num,name,year,theme_id,num_parts,set_num_len,name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,part_material,is_trans_t
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,Rubber,0

In [56]:
df = df.drop('part_material', axis=1)
df.head(1)

,set_num,name,year,theme_id,num_parts,set_num_len,name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans_t
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0

In [57]:
df = df.rename(columns={'name':'set_name'})
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans_t
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0

In [58]:
df = df.rename(columns={'name_len':'set_name_len'})
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans_t
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0

In [59]:
df['theme_name_len'] = df['theme_name'].str.len()
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans_t,theme_name_len
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0,7

In [60]:
df['part_num_len'] = df['part_num'].str.len()
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans_t,theme_name_len,part_num_len
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0,7,4

In [61]:
df['color_name_len'] = df['color_name'].str.len()
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans_t,theme_name_len,part_num_len,color_name_len
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0,7,4,10

In [62]:
df['part_name_len'] = df['part_name'].str.len()
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans_t,theme_name_len,part_num_len,color_name_len,part_name_len
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0,7,4,10,29

In [63]:
df = df.rename(columns={'is_trans_t':'is_trans'})
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans,theme_name_len,part_num_len,color_name_len,part_name_len
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0,7,4,10,29

In [64]:
is_train = np.random.rand(df.shape[0]) > 0.1
is_train.sum() / df.shape[0]

0.8998583686505208

In [65]:
df['theme_id'].value_counts()

158    67154
494    45129
1      38592
435    35468
672    23836
       ...
307       11
369       11
368        2
559        1
241        1
Name: theme_id, Length: 432, dtype: int64

In [66]:
themes[themes['theme_id'] == 158]

    theme_id theme_name
78       158  Star Wars

In [67]:
themes[themes['theme_id'] == 494]

     theme_id theme_name
251       494    Friends

In [68]:
themes[themes['theme_id'] == 1]

   theme_id theme_name
0         1    Technic

In [69]:
themes[themes['theme_id'] == 435]

     theme_id theme_name
219       435    Ninjago

In [70]:
df['is_ninjago'] = df['theme_id'] == 435
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans,theme_name_len,part_num_len,color_name_len,part_name_len,is_ninjago
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0,7,4,10,29,False

In [71]:
df = pd.get_dummies(df, columns=['is_ninjago'])
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans,theme_name_len,part_num_len,color_name_len,part_name_len,is_ninjago_False,is_ninjago_True
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0,7,4,10,29,1,0

In [72]:
df = df.drop('is_ninjago_False', axis=1)
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans,theme_name_len,part_num_len,color_name_len,part_name_len,is_ninjago_True
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0,7,4,10,29,0

In [73]:
df = df.rename(columns={'is_ninjago_True':'is_ninjago'})
df.head(1)

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans,theme_name_len,part_num_len,color_name_len,part_name_len,is_ninjago
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0,7,4,10,29,0

In [74]:
colors.sort_values('color_id', ascending=False)

     color_id            color_name     rgb is_trans
189      9999  [No Color/Any Color]  05131D        f
188      1062                 Lemon  EBD800        f
187      1061  Trans-Dark Blue Opal  0020A0        t
186      1060      Trans-Green Opal  84B68D        t
185      1059     Trans-Purple Opal  8320B7        t
..        ...                   ...     ...      ...
4           3        Dark Turquoise  008F9B        f
3           2                 Green  237841        f
2           1                  Blue  0055BF        f
1           0                 Black  05131D        f
0          -1             [Unknown]  0033B2        f

[190 rows x 4 columns]

In [75]:
colors['color_id'].unique()

array([  -1,    0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
         10,   11,   12,   13,   14,   15,   17,   18,   19,   20,   21,
         22,   23,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   40,   41,   42,   43,   45,   46,   47,   52,
         54,   57,   60,   61,   62,   63,   64,   68,   69,   70,   71,
         72,   73,   74,   75,   76,   77,   78,   79,   80,   81,   82,
         84,   85,   86,   89,   92,  100,  110,  112,  114,  115,  117,
        118,  120,  125,  129,  132,  133,  134,  135,  137,  142,  143,
        148,  150,  151,  158,  178,  179,  182,  183,  191,  212,  216,
        226,  230,  232,  236,  272,  288,  294,  297,  308,  313,  320,
        321,  322,  323,  326,  334,  335,  351,  366,  373,  378,  379,
        383,  450,  462,  484,  503, 1000, 1001, 1002, 1003, 1004, 1005,
       1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016,
       1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027,
       1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038,
       1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049,
       1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060,
       1061, 1062, 9999], dtype=int64)

In [76]:
df[df['color_id']==-1].count().head(1)

set_num    12
dtype: int64

In [77]:
df[df['color_id']==9999].count().head(1)

set_num    7170
dtype: int64

In [78]:
df['color_id'] = df['color_id'].replace([-1, 9999], [1063, 1064])

In [79]:
df.to_csv('C:/Users/marki/Desktop/SB Data Science BC/Springboard/Capstone2/data from notebooks/df.csv', index=False)

In [80]:
df.shape

(919288, 20)

In [81]:
is_ninjago = df['is_ninjago'].sum() / df.shape[0]
is_ninjago

0.03858203305166607