In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
pd.options.display.max_columns=1000
from tqdm import tqdm
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('C:/Users/marki/Desktop/SB Data Science BC/Springboard/Capstone2/data from notebooks/df.csv')

In [3]:
df.head()

,set_num,set_name,year,theme_id,num_parts,set_num_len,set_name_len,theme_name,id,part_num,color_id,quantity,color_name,part_name,is_trans,theme_name_len,part_num_len,color_name_len,part_name_len,is_ninjago
0,001-1,Gears,1965,1,43,5,5,Technic,24696,132a,7,4,Light Gray,Tyre Smooth Old Style - Small,0,7,4,10,29,0
1,001-1,Gears,1965,1,43,5,5,Technic,24696,3020,15,4,White,Plate 2 x 4,0,7,4,5,11,0
2,001-1,Gears,1965,1,43,5,5,Technic,24696,3062c,15,1,White,"Brick Round 1 x 1 Solid Stud, No Bottom Groove",0,7,5,5,46,0
3,001-1,Gears,1965,1,43,5,5,Technic,24696,3404bc01,15,4,White,"Turntable 4 x 4 - Old Type Complete, Perfectly...",0,7,8,5,52,0
4,001-1,Gears,1965,1,43,5,5,Technic,24696,36,7,4,Light Gray,Tyre Smooth Old Style - Large,0,7,2,10,29,0

In [4]:
df.shape

(919288, 20)

In [5]:
df.columns

Index(['set_num', 'set_name', 'year', 'theme_id', 'num_parts', 'set_num_len',
       'set_name_len', 'theme_name', 'id', 'part_num', 'color_id', 'quantity',
       'color_name', 'part_name', 'is_trans', 'theme_name_len', 'part_num_len',
       'color_name_len', 'part_name_len', 'is_ninjago'],
      dtype='object')

In [6]:
target_names = 'set_num set_name theme_id theme_name id part_num color_name part_name theme_name_len is_ninjago'.split()
target_names

['set_num',
 'set_name',
 'theme_id',
 'theme_name',
 'id',
 'part_num',
 'color_name',
 'part_name',
 'theme_name_len',
 'is_ninjago']

In [7]:
model = LogisticRegression()

In [8]:
fn_over = list()
for i, name in enumerate(df.columns):
    if i > 100:
        break
    if name in target_names:
        continue
    fn_over.append(name)

In [9]:
X = df[fn_over]
y = df['is_ninjago']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.1, random_state=1)

In [11]:
df_train = pd.concat([pd.DataFrame(X_train, columns=fn_over), pd.DataFrame(y_train, columns=['is_ninjago'])], axis=1)

In [12]:
df_test = pd.concat([pd.DataFrame(X_test, columns=fn_over), pd.DataFrame(y_test, columns=['is_ninjago'])], axis=1)

In [13]:
print(df_train.shape)
print(df_test.shape)

(827359, 11)
(91929, 11)

In [14]:
df_grouped_train = df_train.groupby('is_ninjago')

df_grouped_train.head()

,year,num_parts,set_num_len,set_name_len,color_id,quantity,is_trans,part_num_len,color_name_len,part_name_len,is_ninjago
774631,2014,368,7,19,15,1,0,11,5,59,0
417226,2013,284,7,16,0,1,0,5,5,45,0
414960,2010,631,6,20,0,1,0,5,5,57,0
896798,2008,842,6,33,0,2,0,4,5,12,0
591153,2007,974,6,19,70,3,0,6,13,53,0
555268,2016,754,7,17,2,3,0,4,5,11,1
575778,2015,361,7,15,19,1,0,5,3,27,1
576490,2015,2030,7,18,0,1,0,6,5,54,1
612760,2020,1017,7,23,27,8,0,4,4,33,1
567503,2019,364,7,11,0,2,0,5,5,43,1

In [15]:
print(df_grouped_train.size())

is_ninjago
0    795565
1     31794
dtype: int64

In [16]:
list(df_grouped_train)[0][1]

lengths = []

for is_ninjago, group in df_grouped_train:
    lengths.append(group.shape[0])
    
print(lengths)

[795565, 31794]

In [17]:
dfs_train = list()

for is_ninjago, group in df_grouped_train:
    dfs_train.append(group.sample(max(lengths), replace=True))
    
dfs_train

[        year  num_parts  set_num_len  set_name_len  color_id  quantity  \
 777675  2007        131            6            20        33         1
 896138  2010       1515            6            26        71         3
 683864  2017        452            7            28        71        11
 97445   2019        592            7            17        72         8
 888760  2012        466            6            10        71         2
 ...      ...        ...          ...           ...       ...       ...
 127643  2021       1265            7            15        47         8
 633367  2012        805            6            14        47         4
 806851  2007        731            6            39        72         1
 269158  2017        307            7            20        71         2
 532023  2014       1301            7            26         4         2

         is_trans  part_num_len  color_name_len  part_name_len  is_ninjago
 777675         1             5              15             36           0
 896138         0             5              17             40           0
 683864         0             6              17             51           0
 97445          0             5              16             22           0
 888760         0             4              17             29           0
 ...          ...           ...             ...            ...         ...
 127643         1            11              11             31           0
 633367         1             4              11             11           0
 806851         0             4              16             65           0
 269158         0             5              17             52           0
 532023         0             5               3             36           0

 [795565 rows x 11 columns],
         year  num_parts  set_num_len  set_name_len  color_id  quantity  \
 574658  2015        755            7            17        72         1
 560370  2017       1137            7            14         0         1
 136629  2011       1174            6            11        15         1
 566080  2019        171            7            17       297         5
 569135  2019        952            7            16        36         1
 ...      ...        ...          ...           ...       ...       ...
 619226  2021        737            7            12       322         2
 609946  2020       1783            7            16         4         2
 572832  2014       1222            7            23         4         4
 612557  2020       1017            7            23        70         3
 566682  2019        580            7            20        14         1

         is_trans  part_num_len  color_name_len  part_name_len  is_ninjago
 574658         0             5              16             33           1
 560370         0             5               5             35           1
 136629         0             5               5             49           1
 566080         0             5              10             66           1
 569135         1             4               9             33           1
 ...          ...           ...             ...            ...         ...
 619226         0             5              12             39           1
 609946         0             5               3             44           1
 572832         0             4               3             22           1
 612557         0             5              13             32           1
 566682         0             5               6             32           1

 [795565 rows x 11 columns]]

In [18]:
df_balancedbyover = pd.concat(dfs_train)
df_balancedbyover.head()

,year,num_parts,set_num_len,set_name_len,color_id,quantity,is_trans,part_num_len,color_name_len,part_name_len,is_ninjago
777675,2007,131,6,20,33,1,1,5,15,36,0
896138,2010,1515,6,26,71,3,0,5,17,40,0
683864,2017,452,7,28,71,11,0,6,17,51,0
97445,2019,592,7,17,72,8,0,5,16,22,0
888760,2012,466,6,10,71,2,0,4,17,29,0

In [19]:
df_balancedbyover.shape

(1591130, 11)

In [ ]:
hyper_table_df_grouped = list()
fn_over = list()
for i, name in tqdm(enumerate(df_balancedbyover.columns), total=len(df_balancedbyover.columns)-1):
    if i > 100:
        break
    if name in target_names:
        continue
    fn_over.append(name)
    model.fit(df_balancedbyover[fn_over], df_balancedbyover['is_ninjago'])

    #train_scores = []
    #test_scores = []

    #for is_ninjago, group in df_balancedbyover.groupby('is_ninjago'):
    #    train_scores.append(model.score(df_balancedbyover[fn_over], df_balancedbyover['is_ninjago']))
        
    #for is_ninjago, group in df_test.groupby('is_ninjago'):
    #    test_scores.append(model.score(df_test[fn_over], df_test['is_ninjago']))
    
    s_train = model.score(df_balancedbyover[fn_over], df_balancedbyover['is_ninjago'])
    s_test = model.score(df_test[fn_over], df_test['is_ninjago'])
    hyper_table_df_grouped.append(dict(sample='over', 
                         desc=str(fn_over), 
                         train_score=s_train, 
                         test_score=s_test, 
                         #test_score_0=test_scores[0], 
                         #test_score_1=test_scores[1],
                         #train_score_0=train_scores[0],
                         #train_score_1=train_scores[1],
                         model=model, 
                         num_features=df_balancedbyover[fn_over].shape[1], 
                         num_rows=df_balancedbyover[fn_over].shape[0], 
                         last_feature=fn_over[-1]))

 80%|██████████████████████████████████████████████████████████████████▍                | 8/10 [01:19<00:32, 16.08s/it]C:\Users\marki\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
 90%|██████████████████████████████████████████████████████████████████████████▋        | 9/10 [01:36<00:16, 16.24s/it]

In [ ]:
model_rf = RandomForestClassifier(n_estimators=100, random_state = 1,n_jobs=-1)

In [ ]:
fn_over = list()
for i, name in tqdm(enumerate(df_balancedbyover.columns), total=len(df_balancedbyover.columns)-1):
    if i > 100:
        break
    if name in target_names:
        continue
    fn_over.append(name)
    model_rf.fit(df_balancedbyover[fn_over], df_balancedbyover['is_ninjago'])
    
    #train_scores = []
    
    #for is_ninjago, group in df_balancedbyover.groupby('is_ninjago'):
    #    train_scores.append(model_rf.score(df_balancedbyover[fn_over], df_balancedbyover['is_ninjago']))
        
    #test_scores = []

    #for is_ninjago, group in df_test.groupby('is_ninjago'):
    #    test_scores.append(model_rf.score(df_test[fn_over], df_test['is_ninjago']))
        
    s_train = model_rf.score(df_balancedbyover[fn_over], df_balancedbyover['is_ninjago'])
    s_test = model_rf.score(df_test[fn_over], df_test['is_ninjago'])
    
    hyper_table_df_grouped.append(dict(sample='over', 
                         desc=str(fn_over), 
                         train_score=s_train, 
                         test_score=s_test, 
                         #test_score_0=test_scores[0], 
                         #test_score_1=test_scores[1],
                         #train_score_0=train_scores[0],
                         #train_score_1=train_scores[1], 
                         model=model_rf, 
                         num_features=df_balancedbyover[fn_over].shape[1], 
                         num_rows=df_balancedbyover[fn_over].shape[0], 
                         last_feature=fn_over[-1]))

In [ ]:
ht_dfg_over = pd.DataFrame(hyper_table_df_grouped).sort_values('test_score', ascending=False)
ht_dfg_over

In [ ]:
import matplotlib.pyplot as plt
feature_importance = model_rf.feature_importances_
# make importances relative to max importance
feature_importance = 100.0 * (feature_importance / feature_importance.max())[:30]
sorted_idx = np.argsort(feature_importance)[:30]

pos = np.arange(sorted_idx.shape[0]) + .5
print(pos.size)
sorted_idx.size
plt.figure(figsize=(10,10))
plt.barh(pos, feature_importance[sorted_idx], align='center')
plt.yticks(pos, df_balancedbyover[fn_over].columns[sorted_idx])
plt.xlabel('Relative Importance')
plt.title('Variable Importance')
plt.show()

In [ ]:
ht_dfg_over.to_csv('C:/Users/marki/Desktop/SB Data Science BC/Springboard/Capstone2/data from notebooks/ht_dfg_over.csv', index=False)